<div class="perfil">

  <div class="container">
    <div class="row">
      <!-- left column -->
      <div class="col-md-3">

        <img src="../../assets/images/168.jpg" class="avatar" alt="avatar">
        

      </div>

    <div class="col-md-9 personal-info">
        <form novalidate [formGroup]="formPerfil" (ngSubmit)="manejarFomuPerfil()" class="form-horizontal" *ngIf="formPerfil">

          <div class="form-group">
            <label class="col-lg-3 control-label">Nombre</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" formControlName="nombre" name="nombre">
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 control-label">Apellido</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" formControlName="apellidos" name="apellidos">
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 control-label">Sexo:</label>
            <div class="col-lg-8">
              <select class="form-control" type="text" formControlName="sexo" name="sexo">
                <option value="F">Femenino</option>
                <option value="M">Masculino</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" formControlName="mail" name="mail">
              <small *ngIf="formPerfil.controls['mail'].errors?.pattern && formPerfil.controls['mail'].dirty" class="form-text text-danger">
                El formato de Email no es correcto.
              </small>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 control-label">Año de nacimiento:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" placeholder="Eres mayor de 18?" formControlName="fecha_nacimiento"
                name="fecha_nacimiento">
              <small *ngIf="formPerfil.controls['fecha_nacimiento'].errors?.fecha_nacimiento && formPerfil.controls['fecha_nacimiento'].dirty">
                error fecha nacimiento {{ formPerfil.controls['fecha_nacimiento'].errors?.fecha_nacimiento }}
              </small>

            </div>
          </div>

          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">

              <button type="submit" class="btn btn-success mt-3" [disabled]="formPerfil.invalid" [ngClass]="{ 'button-disabled ': formPerfil.invalid} ">Publicar</button>

            </div>

          </div>

        </form>
      </div>
    </div>
  </div>
</div>
