



input.ng-invalid.ng-dirty{
  border: 2px solid red;

}

.button-disabled{
  background-color: red;

  color:white;
  font-weight: bold;
}


.btn{
  border-radius: 0;
  text-transform: uppercase;
  padding-top: 10px;
  font-weight: bold;
  color: white;  
}
.btn:hover{ 
   background-color: rgb(220, 235, 90);

}


.newtrayecto {
  padding: 10px 10px 10px 10px;
  background-color: rgba(0, 0, 0, 0.6);
  /* width: 60%; */
  color: white;
  position: fixed;
  right: 18em;
  -webkit-box-shadow: 2px 8px 7px 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 2px 8px 7px 2px rgba(0, 0, 0, 0.6);
  box-shadow:2px 8px 7px 2px rgba(0, 0, 0, 0.6);
}

.newtrayecto h2{
  text-align: center;

  margin-top: 1em;
  text-transform: uppercase;
  font-weight: 900;
  /* background: rgba(255, 255, 255, 0.8);
  border: 1px solid white; */
  color: white;
  /* padding: 20px 10px 10px 0;
  background: linear-gradient(90deg, rgba(155, 226, 103, 0.7) 0%, rgba(110, 205, 143, 0.7) 100%); */
}

.form-control {
  /* text-align: center; */
  color: white;
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid rgb(56, 80, 53);
}

.form-group {
  /* text-align: center; */
  color: white;

}

.newinput {
  background: rgb(255, 255, 255);
  margin-bottom: 1em;
}

.form-check {
  margin-bottom: 1em;
}


.formularionew {
  padding: 0em 3em 2em 3em;
  border: 1px solid white;
}

.tiempo{
  width: 100px;
  border: 0;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0;
  margin:0;
}

.fecha{
  width:100%;
  border: 0;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0;
  margin:0;
}




