<section class="newtrayecto">
  <div class="formularionew">
    <h2>¡Te llevo!</h2>
    <form novalidate [formGroup]="formTrayecto" (ngSubmit)="manejarFomuTrayecto()">
<!-- TODO:HE QUIETADO TRAYECTO DEL INPUTNAME DE ORIGEN Y DESTINO -->
      <div class="newinput input-group">
        <places (recuperarPlace)="getPlace($event)" inputname="origen"></places>
        <small *ngIf="formTrayecto.controls['origenTrayecto'].errors?.required && formTrayecto.controls['origenTrayecto'].dirty"
          class="form-text text-danger">Este campo es obligatorio</small>
      </div>

      <div class="newinput input-group">
        <places (recuperarPlace)="getPlace($event)" inputname="destino"></places>
        <small *ngIf="formTrayecto.controls['destinoTrayecto'].errors?.required && formTrayecto.controls['destinoTrayecto'].dirty"
          class="form-text text-danger">Este campo es obligatorio</small>
      </div>

      <div class="input-group mb-3">
        <input class="form-control-sm fecha" type="date" min="{{ fechaActual | date:'yyyy-MM-dd' }}" name="fechaTrayecto"
          formControlName="fechaTrayecto">
      </div>

      <div class="input-group">
          <label for="horaTrayecto">HORA</label>
        <select class=" tiempo form-control-sm ml-3 mr-3" name="horaTrayecto" formControlName="horaTrayecto">
          <option value="10" selected></option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="0">24</option>
          <option value="1">01</option>
          <option value="2">02</option>
          <option value="3">03</option>
          <option value="4">04</option>
          <option value="5">05</option>
          <option value="6">06</option>
          <option value="7">07</option>
          <option value="8">08</option>
          <option value="9">09</option>
        </select> 
        

        <select class="form-control-sm tiempo " name="minutosTrayecto" formControlName="minutosTrayecto">
          <option value="00" selected>00</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="40">40</option>
          <option value="50">50</option>
        </select>
        <small *ngIf="formTrayecto.controls['horaTrayecto'].errors?.required && formTrayecto.controls['horaTrayecto'].dirty"
          class="form-text text-danger">Este campo es obligatorio</small>
      </div>


      <div class="mt-3 form-check form-check-inline">
        <input class="form-check-input" type="radio" name="tipoTrayecto" formControlName="tipoTrayecto" value="habitual"
          checked="checked">
        <label class="form-check-label" for="habitual">Habitual</label>
      </div>


      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="tipoTrayecto" formControlName="tipoTrayecto" value="espontaneo">
        <label class="form-check-label" for="espontaneo">Espontáneo</label>
      </div>
      <div>
        <button type="submit" class="btn btn-warning mt-3" [disabled]="formTrayecto.invalid" [ngClass]="{ 'button-disabled ': formTrayecto.invalid}">Publicar</button>
      </div>
    </form>
  </div>
</section>
