.places{
    font-weight: 900 !important;
    min-width: 15em;
}
  .form-control{
    text-align: center;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid rgb(56, 80, 53);
    /* background: rgba(222, 233, 220, 0.596); */
    background: transparent;
    font-weight: 900 !important;
    font-size: 18px;
    color: black !important; 
    text-transform: uppercase;
  }
  .form-group{
    /* text-align: center; */
  }