

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');

.login{
    background-image: url('../../assets/images/fondo_sesion.jpg');
    background: rgb(64,224,208);
    background: linear-gradient(120deg, rgba(64,224,208,0.51) 0%, rgba(255,140,0,0.5) 50%, rgba(255,0,128,0.5) 100%); 
    padding: 2em;
    color:#112F41 !important; 
    
   
}

.login h2{
    font-weight: bold !important;
    text-transform: uppercase;
}

