
header{
    height: 40px;   
    margin-bottom: 3em;
}

header nav ul li{
    /* margin: 0 auto; */
    display: inline-block;
    background: rgba(255, 255, 255, 0.8);
}

header nav ul li a{
	display: block;
	padding: 10px 20px 0px 20px;
    /* text-align: center; */
    color: #245043;    
    height: 40px;
    text-transform:uppercase;
    font-weight: 400;
}

header nav ul li a:hover{
    height: 45px;
    transition: 0.5s;
    color:  #639449;
}


header .logo, header nav{
	float: left;
}

.modal-body button{
    margin-top:0.5em;
}

.rigth{
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright:  10px; 
    border-bottom-right-radius:  10px;
}
.left{
    -webkit-border-bottom-left-radius:  10px;
    -moz-border-radius-bottomleft:  10px;
    border-bottom-left-radius:  10px;
}