<ul class="nav justify-content-center mb-3">
  <li class="nav-item">
       <a class="nav-link" [routerLink]="['/publicar']" >Publica tu Trayecto</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" [routerLink]="['/search']">Busca un trayecto</a>
 </li>

  <li class="nav-item">
    <a class="nav-link active" [routerLink]="['/register']">Regístrate</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/login']">Iniciar Sesion</a>
  </li><li class="nav-item">
      <a class="nav-link" [routerLink]="['/perfil']">Perfil</a>
    </li>

</ul>


<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm">Small modal</button> -->

<!-- <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      ...
    </div>
  </div>
</div> -->