<header class="container" >
  <nav>
    <ul>
      <li class="left">
        <a [routerLink]="['/publicar']">Publica tu Trayecto</a>
      </li>
      <li>
        <a [routerLink]="['/search']">Busca un trayecto</a>
      </li>

      <li>
        <a [routerLink]="['/register']" *ngIf="!serviceUsuario.isUserLogged()">Regístrate</a>
      </li>
      <li>
        <a [routerLink]="['/perfil']" *ngIf="serviceUsuario.isUserLogged()">Mi Perfil</a>
      </li>
      <li class="rigth" >
        <a data-toggle="modal" data-target="#loginModal" *ngIf="!serviceUsuario.isUserLogged()">Login</a>
      </li>
      <li >
        <a *ngIf="serviceUsuario.isUserLogged()"  [routerLink]="['/perfil']"> ¡Hola {{ userName }}!</a>
      </li>
      <li class="rigth">
        <a *ngIf="serviceUsuario.isUserLogged()" (click)="logOut()" [routerLink]="['/home']">LogOut</a>
      </li>
      
    </ul>
  </nav>
</header>
<!-- MODAL LOGIN -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">



      <div class="modal-body">
        <button type="button" class="close col-1" data-dismiss="modal">
          <span>&times;</span>
        </button>
        <login (loginDone)="getTokenLogin($event)"></login>
      </div>
    </div>
  </div>
</div>
