<ul class="nav justify-content-center mb-3">
  <li class="nav-item">
       <a class="nav-link" [routerLink]="['/publicar']" >Publica tu Trayecto</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" [routerLink]="['/search']">Busca un trayecto</a>
 </li>

  <li class="nav-item">
    <a class="nav-link active" [routerLink]="['/register']">Regístrate</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/login']">Iniciar Sesion</a>
  </li><li class="nav-item">
      <a class="nav-link" [routerLink]="['/perfil']">Perfil</a>
    </li>

</ul>