<div class="otro container">
  <div class="row">
    <div class="col-6" *ngIf="trayecto">
      <h3>Info Trayecto</h3>
      <p><strong>Origen:</strong> {{trayecto?.origenTrayecto | espana}}</p>
      <p><strong>Destino:</strong> {{trayecto?.destinoTrayecto | espana }}</p>
      <p><strong>Fecha:</strong> {{trayecto?.fechaTrayecto | date: shortDate}}</p>
      <p><strong>Hora:</strong> {{trayecto?.horaTrayecto}} : {{trayecto?.minutosTrayecto}} </p>
      <p><strong>Tipo de trayecto: </strong> {{ trayecto?.tipoTrayecto }}</p>
      <p><strong>Creador: </strong> {{ trayecto?.nombre }} | contacto creador: {{trayecto?.mail}}</p>


      <div>

        <p><strong>Usuarios Apuntados: </strong></p>
        <div *ngFor="let usuario of usuariosTrayecto">
          <div class="usuarioclass">
            <div [ngStyle]="{
            'background-image': 'url('+usuario?.fotoperfil+') ',
            'width': '200px', 
            'height': '200px',  
            'background-position': 'center',
            'background-size': 'cover'}"></div>
          </div>
          <p> {{ usuario?.nombre | uppercase }} </p>
        </div>

        <div class="join" *ngIf="trayecto && !creador() && !usuarioApuntado()" (click)="handlerJoin()" [routerLink]="['/perfil']">
          <p>¡Me apunto!</p>
        </div>

        <div class="meborro" *ngIf="trayecto && !creador() && usuarioApuntado()" (click)="handlerBorrarse()"
          [routerLink]="['/perfil']">
          <p>¡Me borro!</p>
        </div>

      </div>


    </div>
    <div class=" col-6">
      <div class="contentmapa">
        <!-- <img src="../../assets/images/gps.png" alt=""> -->
        <div #googleMap class="mapa"> </div>
      </div>
     
    </div>
  </div>
  <!-- <button class="btn btn-warning" (click)="handlerJoin()" [routerLink]="['/perfil']"> Me apunto! </button> -->
</div>
