.mapa {
  width: 300px;
  height: 300px;
}

.otro{
  color:white;
}
.usuario{
    width: 100px;
    height: 100px;
    background-color: rgb(134, 24, 61);
    border: 4px solid white;
    border-radius: 50%;
    float: left;
    text-align: center;
    margin: 1em;
    padding: 40px 0 10px 0;
    
}

.usuario::after{
  clear: both;
}

.join{
  width: 100px;
  height: 100px;
  background-color: rgb(134, 24, 61);
  border: 4px solid white;
  border-radius: 50%;
  float: left;
  text-align: center;
  margin: 1em;
  font-weight: 900;
  font-size: 20px;
  padding: 15px 0 10px 0;
  cursor: pointer;
}
.meborro{
  width: 150px;
 
  background-color: rgb(99, 6, 6);
  border: 4px solid white;
  float: left;
  text-align: center;
  margin: 1em;
  font-weight: 900;
  font-size: 20px;
  padding: 10px 0 5px 0;
  cursor: pointer;
}