<section > 
    <div class="container-fluid col-6 pt-4">
  <h2>¿Alguien me lleva?</h2>
  <div class="container-fluid">      
      <div class="input-group mb-3 pt-5">
        <input type="text" class="form-control" placeholder="Origen">
      </div> 

      <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Destino">
      </div> 

  </div>  
  </div> 
</section>

<!-- consulta a la base de datos
SELECT * FROM drivemeto.trayectos WHERE 
    trayectos.origenlatitud, 
    trayectos.origenlongitud, 
    trayectos.destinolatitud, 
    trayectos.destinolongitud;
-->