.buscar {
  background-color: rgba(255, 255, 255, 0.6);
  width: 100vw;
  height: 85vh;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  /* margin-top: 4em; */
  text-align: center;
}

.buscar .form-control {
  min-width: 15em;
  font-weight: 300 !important;
 
}

.text {
  margin-top: 1em;
  text-transform: uppercase;
  font-weight: 900;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid white;
  color: white;
  padding: 20px 0 10px 0;
  background: linear-gradient(90deg, rgba(155, 226, 103, 0.7) 0%, rgba(110, 205, 143, 0.7) 100%);
  /* background: linear-gradient(0deg, rgba(4,22,134,1) 0%, rgba(0,177,201,1) 100%); */
  /* -webkit-background-clip: text;
  color: transparent; */
}

.buscar .btn {
  background: linear-gradient(90deg, rgba(155, 226, 103, 1) 0%, rgba(110, 205, 143, 1) 100%);
  color: rgba(0, 0, 0, 0.4);
  padding-top: 10px;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 1.5em;
  border-color: aliceblue;

}

.buscar .btn:hover {
  color: rgba(255, 255, 255, 1);
  transition: 0.7s;
  -webkit-box-shadow: 9px 10px 22px -6px rgba(252, 243, 243, 0.6);
  -moz-box-shadow: 9px 10px 22px -6px rgba(252, 243, 243, 0.6);
  box-shadow: 9px 10px 22px -6px rgba(252, 243, 243, 0.6);
}



/* MODAL  NO HAY TRAYECTOS */
#trayectoModal .modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  /* width: 100%; */
  pointer-events: auto;
  background-color: transparent;
  background-clip: border-box;
  border:0;
  border-radius: 0;
  outline: 0;
}

#trayectoModal .btn{
  background: linear-gradient(90deg, rgba(155, 226, 103, 1) 0%, rgba(110, 205, 143, 1) 100%);
}
.modal-body{
  background-image: url('../../assets/images/1750.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  margin: 0 auto;
  text-align: center;
  max-width: 100%;
  height: 14em;
  background-color: aliceblue;
  padding: 1em;
}

.texto-modal{
  border: 2px solid white;
  padding: 1em 1em 1em 1em;
  color: rgb(8, 111, 170);
  font-size: 1.5em;
  font-weight: 900;

}

.botonmodal{
  margin-top: 0.5em;
  border-radius: 0px;
  
}