section{
    width: 100vw;
    height:85vh ;
     background-image: url('../.././assets/images/fondo_buscar.jpg') ;
     background-size:cover;
     background-position: center;
     padding-top:2em;
     text-align: center;
     
 }
 .input-group-text{
     width: 5em;
 }
 
 .form-control{
     min-width: 15em;
 }
 section h2{
     color: blue;
 }