<section >
<div class="formulario container-fluid col-6 pt-4">
  <h2>¡Te llevo!</h2>
<form>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Origen">
    </div> 

    <div class="input-group mb-3 ">
        <input type="text" class="form-control" placeholder="Destino">
    </div> 

    <div class="input-group mb-3">
        <input type="date" class="form-control" placeholder="Destino">
    </div> 
    <div class="input-group mb-3">
        <input type="time" class="form-control" placeholder="Destino">
    </div> 
     
    <div class="input-group mb-3 ">
        <p class="form-check-label">TIPO DE TRAYECTO</p>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions"  value="HABITUAL">
        <label class="form-check-label">HABITUAL</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions"  value="ESPONTANEO">
        <label class="form-check-label">ESPONTANEO</label>
      </div>
   </div>

   <button type="submit" class="btn btn-success mt-3">Publicar mi trayecto</button>

  </form>
</div>
</section>