@import url('https://fonts.googleapis.com/css?family=Overpass:300,400,900');

body{
    font-family: 'Overpass', sans-serif;
}

a{
    text-decoration: none !important;
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 0rem;
}

.form-control {
    font-weight: 300;
    padding-top: 10px;
  }