/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,800');
body{
    color:#112F41 !important;
    font-family: 'Dosis', sans-serif;
}
a{
    color:#F2B134 !important;

}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 0rem;
}