
input.ng-invalid.ng-dirty{
    border: 2px solid red;

}

.button-disabled{
    background-color: red;
    color:white;
    font-weight: bold;
}


.formularioregistro{
    min-width: 250px;
    max-width: 700px;
}

.inputregistro{
    border: 0px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 0;
    margin-top:1.5em;
}

.formularioregistro h2{
    text-align: center;
  
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: 900;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid white;
    color: white;
    padding: 20px 10px 10px 0;
    background: linear-gradient(90deg, rgba(155, 226, 103, 0.7) 0%, rgba(110, 205, 143, 0.7) 100%);
  }