<div class="formularioregistro container">
  <h2>Registro</h2>
<form novalidate
    [formGroup]="formRegistro"
    (ngSubmit)="manejarFomulario()">

    <div class="inputregistro form-group">
      <input class="form-control" type="text" name="nombre" formControlName="nombre" placeholder="nombre">
      <small *ngIf="formRegistro.controls['nombre'].errors?.required && formRegistro.controls['nombre'].dirty" class="form-text text-danger">Este campo es obligatorio</small>
    </div>

    <div class="inputregistro form-group">
      <input class="form-control" type="password" name="pwd" formControlName="pwd" placeholder="password">
      <small *ngIf="formRegistro.controls['pwd'].errors?.required && formRegistro.controls['pwd'].dirty" class="form-text text-danger">Este campo es obligatorio</small>          
    </div>
  
    <div class="inputregistro form-group">
      <input class="form-control" type="password" name="pwdRepeat" formControlName="pwdRepeat" placeholder="Repite tu password">
      <small *ngIf="formRegistro.controls['pwdRepeat'].errors?.required && formRegistro.controls['pwdRepeat'].dirty" class="form-text text-danger">Este campo es obligatorio</small>          
      <small *ngIf="formRegistro.errors?.repeatClave && formRegistro.controls['pwdRepeat'].dirty" class="form-text text-danger">Las contraseñas NO coinciden </small>      
    </div>

    <div class="inputregistro form-group">
      <input class="form-control" type="text" name="mail" formControlName="mail" placeholder="Indica tu mail">
      <small *ngIf="formRegistro.controls['mail'].errors?.required && formRegistro.controls['mail'].dirty" class="form-text text-danger">Este campo es obligatorio</small>          
      <small *ngIf="formRegistro.controls['mail'].errors?.pattern && formRegistro.controls['mail'].dirty" class="form-text text-danger">Este email NO es correcto </small>
    </div>


<button type="submit" class="btn btn-success mt-3"
[disabled]="formRegistro.invalid" 
[ngClass]="{ 'button-disabled ': formRegistro.invalid}" >Regístrarme</button>


</form>

</div>